$headline-color: #58e1c1;
$main-color: #777;
$light-purple: #927bc1;
$aqua: #51ddfc;
$orange: #fd7856;
$breakpoint-tablet: 768px;

.headline-primary{
    color: $headline-color;
}
.nav-link:hover{
    background-color: $headline-color;
}
.input{
    border-bottom: 5px solid $headline-color;
}

*, .headline-secondary{
    color: $main-color;
}

.theme.col-1, .info{
    background-color: $light-purple;
}
.theme.col-11, .default{
    background-color: $aqua;
}
.theme-col-2, .warning{
    background-color: $orange;
}

@media(min-width: $breakpoint-tablet){
    
}
