// VARIABLES

$headline-color: #58e1c1;
$main-color: #777;
$light-purple: #927bc1;
$aqua: #51ddfc;
$orange: #fd7856;
$breakpoint-tablet: 768px;
$flex-column: column;
$fw300: 300;
$font-fam: 'Lato', sans-serif;

